In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("./data/top-5000-youtube-channels.csv")

In [3]:
df

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433
...,...,...,...,...,...,...
4995,"4,996th",B+,Uras Benlioğlu,706,2072942,441202795
4996,"4,997th",B+,HI-TECH MUSIC LTD,797,1055091,377331722
4997,"4,998th",B+,Mastersaint,110,3265735,311758426
4998,"4,999th",B+,Bruce McIntosh,3475,32990,14563764
4999,"5,000th",B+,SehatAQUA,254,21172,73312511

1. Display All Rows Except the Last 5 rows Using Head Method

In [7]:
df.head(-5)

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
0,1st,A++,Zee TV,82757,18752951,20869786591
1,2nd,A++,T-Series,12661,61196302,47548839843
2,3rd,A++,Cocomelon - Nursery Rhymes,373,19238251,9793305082
3,4th,A++,SET India,27323,31180559,22675948293
4,5th,A++,WWE,36756,32852346,26273668433
...,...,...,...,...,...,...
4990,"4,991st",B+,Ho Ngoc Ha's Official Channel,208,--,127185704
4991,"4,992nd",B+,Toys to Learn Colors,11,663114,141933264
4992,"4,993rd",B+,КАZКА,25,131766,74304638
4993,"4,994th",B+,United CUBE (CUBE Entertainment…,1055,1586835,371299166
4994,"4,995th",B+,Wings Marathi,1735,1099659,346175699

2. Display All Rows Except the First 5 Rows Using Tail Method

In [8]:
df.tail(-5)

,Rank,Grade,Channel name,Video Uploads,Subscribers,Video views
5,6th,A++,Movieclips,30243,17149705,16618094724
6,7th,A++,netd müzik,8500,11373567,23898730764
7,8th,A++,ABS-CBN Entertainment,100147,12149206,17202609850
8,9th,A++,Ryan ToysReview,1140,16082927,24518098041
9,10th,A++,Zee Marathi,74607,2841811,2591830307
...,...,...,...,...,...,...
4995,"4,996th",B+,Uras Benlioğlu,706,2072942,441202795
4996,"4,997th",B+,HI-TECH MUSIC LTD,797,1055091,377331722
4997,"4,998th",B+,Mastersaint,110,3265735,311758426
4998,"4,999th",B+,Bruce McIntosh,3475,32990,14563764
4999,"5,000th",B+,SehatAQUA,254,21172,73312511

3. Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [9]:
print(f'The number of rows are: {df.shape[0]}, and the number of columns are: {df.shape[1]}')

The number of rows are: 5000, and the number of columns are: 6

4. Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Rank           5000 non-null   object
 1   Grade          5000 non-null   object
 2   Channel name   5000 non-null   object
 3   Video Uploads  5000 non-null   object
 4   Subscribers    5000 non-null   object
 5   Video views    5000 non-null   int64
dtypes: int64(1), object(5)
memory usage: 234.5+ KB

5. Get Overall Statistics About The Dataframe

In [13]:
df.describe(include='all')

        Rank Grade Channel name Video Uploads Subscribers   Video views
count   5000  5000         5000          5000        5000  5.000000e+03
unique  5000     6         4993          2286        4612           NaN
top      1st   B+    Thơ Nguyễn            26         --            NaN
freq       1  2956            2            17         387           NaN
mean     NaN   NaN          NaN           NaN         NaN  1.071449e+09
std      NaN   NaN          NaN           NaN         NaN  2.003844e+09
min      NaN   NaN          NaN           NaN         NaN  7.500000e+01
25%      NaN   NaN          NaN           NaN         NaN  1.862329e+08
50%      NaN   NaN          NaN           NaN         NaN  4.820548e+08
75%      NaN   NaN          NaN           NaN         NaN  1.124368e+09
max      NaN   NaN          NaN           NaN         NaN  4.754884e+10

6. Data Cleaning  (Replace '--'  to NaN)

In [15]:
df.replace({'--': np.nan}, inplace=True)

In [16]:
filt = df.applymap(lambda x: x == '--')

In [18]:
filt.sum()

Rank             0
Grade            0
Channel name     0
Video Uploads    0
Subscribers      0
Video views      0
dtype: int64

7. Check Null Values In The Dataset

In [25]:
df.isnull().sum()

Rank             0
Grade            0
Channel name     0
Video Uploads    6
Subscribers      0
Video views      0
dtype: int64

In [26]:
df.head(1)

  Rank Grade Channel name Video Uploads Subscribers  Video views
0  1st  A++        Zee TV         82757    18752951  20869786591